@use './colors';
@use './fonts';



* {
    margin: 0;
    padding: 0;
}

body {
    background-color: colors.$background;
    color: colors.$font;
    font-family: fonts.$roboto;
    max-width: 100%;

}

.sidebar {
    display: none;
}

h1, h2, h3 {
    font-family: fonts.$fahkwang;
    font-weight: 100;
    text-transform: uppercase;
}

header {
    
    height: 45vh;
    overflow: hidden;

    .header__imgcontainer {

        position: relative;
    
        img {
            width: 400px;
            transform: rotate(150deg);
            position: absolute;
            left: 20vw;
            top: -10vh;
        }
    }

    .header__flexcontainer {
        width: 100vw;
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        
        .header__menu--phone {
            width: 15vw;
            justify-content: end;
            font-size: 2.5em;
            margin: 3.5vh 5vw 0 0;
            cursor: pointer;
        
        }
        .header__introtext {

            margin: 5vh 0 0 8vw;

            h1 {
                font-size: 1.8em;
                max-width: 8ch;
                padding-bottom: 1vh;
                line-height: 90%;
            }
            p {
                font-size: 1em;
                font-weight: 100;
            }
        
        }
    }
}

main {

    h2 {
        margin: 2.5vh 0 0 5vw;

    }

    .section__skills {
        background-color: colors.$yellow;
        height: 60vh;

        h2 {
            padding-top: 2.5vh;
        }
        .skills__frontend, .skills__backend {
            margin-top: 6vh;
            text-align: center;

            p {
                font-family: fonts.$fahkwang;
            }

            h3 {
                padding-bottom:1.5vh;
                font-size: 1em;
                font-weight: 600;
            }
        }
    }
    .section__projects {
        height: 120vh;

        .project__cards {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 7vh;

            .project__cards--card {
                display: flex;
                flex-direction: column;
                background-color: white;
                min-height: 30vh;
                min-width: 50vw;
                margin-bottom: 2vh;
                margin: 1vh 1vw;
             

                .cards__img {
                    height: 20vh;
                    width: 100%;
                    background-color: colors.$yellow;
                    
                }

                .cards__info {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 1em;

                    h4 {
                        font-family: fonts.$fahkwang;
                    }

                    .cards__arrowBtn {
                        width: 6vw;
                        cursor: pointer;
                    
                    }
                }

                p {
                    padding-left: 1.3em;
                    font-size: 0.8em;
                }
            }
        }
    }
    .section__about {
        height: 80vh;
        overflow: hidden;
        width: 100vw;

        hr {
            width: 89vw;
            margin: 0 auto;
            background-color: colors.$font;
        }

        .about__img {
            margin: 0 auto;
            width: 50vw;
            border-radius: 50%;
            display: flex;
            margin-top: 5vh;
        }
        .about__infotext {
            margin: 4vh auto 0 auto;
            width: 57vw;

            

            p {
                font-size: 0.85em;
                font-weight: 100;
                padding-bottom: 1em;
                line-height: 140%;
            }
        }
        .about__imgcontainer {

            position: relative;
        
            img {
                width: 400px;
                transform: rotate(215deg);
                position: absolute;
                left: 35vw;
                top: -17vh;
                z-index: -1;
            }
        }
    }


}

footer {
    background-color: colors.$brown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.6em;
    align-items: center;

    p {
        font-family: fonts.$fahkwang;
        color: colors.$background;
        font-weight: 600;
    }
    .footer__icons {

        .footer__icons--icon {
            fill: colors.$background;
            fill-rule: evenodd;
            clip-rule: evenodd;
            width: 7vw;
            padding-right: 0.5em;
            font-weight: 100;
        }
        .footer__icons--icon:hover {
            fill: colors.$yellow;


        }
    }
}

@media screen and (min-width: 470px) {
   
    .sidebar {
        display: block;
        background-color: colors.$brown;
        height: 100vh;
        width: 4vw;
    }
}
