@use './colors';
@use './fonts';
@use './base/reset';

html {
    scroll-behavior: smooth;
}

body {
    background-color: colors.$background;
    color: colors.$font;
    font-family: fonts.$roboto;
    max-width: 100%;

}

.sidebar,
.header__navbar {
    display: none;
}


h1,
h2,
h3 {
    font-family: fonts.$fahkwang;
    font-weight: 100;
    text-transform: uppercase;
}

header {

    height: 50vh;
    overflow: hidden;

    .header__imgcontainer {

        position: relative;

        img {
            width: 400px;
            transform: rotate(150deg);
            position: absolute;
            left: 20vw;
            top: -10vh;
        }
    }

    .header__flexcontainer {
        width: 100vw;
        position: relative;

        .header__h2 {
            display: none;
        }

        .header__introtext {

            margin: 7vh 0 0 8vw;

            h1 {
                font-size: 1.8em;
                max-width: 8ch;
                padding-bottom: 1vh;
                line-height: 90%;
            }

            p {
                font-size: 1em;
                font-weight: 100;
            }

        }
    }
}

main {
    .skills__desktop--hr, 
    #section__skills--desktop {
        display: none;
    }

    h2 {
        margin: 2.5vh 0 0 5vh;
    }
    #main__h2--portfolio {
        margin-bottom: 4vh;
    }

    .section__skills--mobile {
        background-color: colors.$yellow;
        height: 75vh;
        display: flex;
        flex-direction: column;

        h2 {
            padding-top: 2.5vh;
        }

        .skills__frontend,
        .skills__backend {
            margin: 6vh auto 0 auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            min-width: 41vw;
            
            p {
                font-family: fonts.$fahkwang;
            }

            h3 {
                padding-bottom: 1.5vh;
                font-size: 1em;
                font-weight: 600;
            }
        }
    }

    #section__projects {
        height: auto;
        padding-bottom: 10vh;

        .project__cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 7vh;
            width: 100%;

            .project__cards--card {
                display: flex;
                flex-direction: column;
                background-color: white;
                height: auto;
                margin: 2.5vh 1vw;
                border-radius: 10px;
                padding-bottom: 2vh;
                width: 50vw;

                .cards__img {
                    height: 20vh;
                    width: 100%;
                    background-color: colors.$yellow;
                    border-radius: 10px 10px 0 0;
                }

                .cards__info {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 1em;

                    h4 {
                        font-family: fonts.$fahkwang;
                    }
                    .cards__arrowBtn {
                        width: 6vw;
                        cursor: pointer;
                    }
                }

                p {
                    padding-left: 1.3em;
                    font-size: 0.8em;
                }
            }
        }
    }

    #section__about {
        height: 95vh;
        overflow: hidden;

        hr {
            width: 85vw;
            margin: 0 auto;
            background-color: colors.$font;
            
        }

        .about__img {
            margin: 0 auto;
            width: 50vw;
            border-radius: 50%;
            display: flex;
            margin-top: 5vh;
        }

        .about__infotext {
            margin: 4vh auto 0 auto;
            width: 57vw;

            p {
                font-size: 0.85em;
                font-weight: 100;
                padding-bottom: 1em;
                line-height: 140%;
            }
        }

        .about__imgcontainer {

            position: relative;

            img {
                width: 400px;
                transform: rotate(215deg);
                position: absolute;
                left: 35vw;
                top: -17vh;
                z-index: -1;
            }
        }
    }


}

footer {
    background-color: colors.$brown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.6em;
    align-items: center;

    p {
        font-family: fonts.$fahkwang;
        color: colors.$background;
        font-weight: 600;
    }

    .footer__icons {

        .footer__icons--icon {
            fill: colors.$background;
            fill-rule: evenodd;
            clip-rule: evenodd;
            width: 7vw;
            padding-right: 0.5em;
            font-weight: 100;
        }

        .footer__icons--icon:hover {
            fill: colors.$yellow;


        }
    }
}


@media screen and (min-width: 470px) {

    @keyframes arrowmove {
        from {
            left: -100px;
        }
        to {
            left: 100px;
        }
    }

    footer {
        display: none;
    }

    .sidebar {
        display: block;
        position: fixed;
        background-color: colors.$brown;
        height: 100vh;
        width: 5vw;

        .sidebar__flexcontainer--desktop {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .sidebar__icons {
                text-align: center;
                padding-top: 5vh;

                .sidebar__icons--icon {
                    fill: colors.$background;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    width: 2.5vw;
                    padding-right: 0.5em;
                    font-weight: 100;
                    padding-bottom: 2.5vh;
                }

                .sidebar__icons--icon:hover {
                    fill: colors.$yellow;
                    cursor: pointer;

                }
            }

            .sidebar__verticaltxt {

                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 5vh;

                p {
                    font-family: fonts.$fahkwang;
                    color: colors.$background;
                    font-weight: 600;
                    margin-bottom: -0.7vh;
                }
            }

        }

    }

    header {
        height: 100vh;
        // scroll-snap-align: center;


        .header__navbar {
            display: block;
            cursor: pointer;
            margin-left: 5vw;
            width: 80vw;
            margin: 4vh auto 0;
            padding-left: 5vw;

            a {
                color: inherit;
            }

            ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                list-style: none;
                font-family: fonts.$fahkwang;
                text-transform: uppercase;


                li {
                    padding: 1vw 0 1vw 1vw;
                }

                li:hover {
                    font-weight: 600;
                }

                #li__firstBtn {
                    margin-right: auto;
                    padding: 1vw 1vw 1vw 0;
                    color: colors.$yellow;
                    font-weight: 600;
                    cursor: default;

                }
            }
        }

        .header__flexcontainer {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 80vw;
            height: 72vh;
            padding: 3vh 0 0 5vw;
            margin: 0 auto;
            justify-content: space-between;

            .header__h2 {
                display: block;
                font-size: 1.3rem;
            }

            .header__introtext {
                margin: 0;

                h1 {
                    font-size: 5rem;
                }

                p {
                    font-size: 1.6rem;
                    padding-top: 2vh;
                }
            }

        }

        .header__imgcontainer {

            position: relative;

            img {
                width: 35vw;
                transform: rotate(160deg);
                position: absolute;
                left: 55vw;
                top: 10vh;
                z-index: -1;
                opacity: 90%;
            }

        }
    }

    main {
        margin-left: 5vw;

        .skills__desktop--hr {
            display: block;
            background-color: colors.$yellow;
            height: 0.2vh;
            border: none;
        }

        #main__h2--portfolio, .section__skills--mobile{
            display: none;
        }

        #section__projects,
        #section__about {

            h2 {
                padding-top: 4vh;
                padding-left: 2.5vw;
            }
        }

        #section__skills--desktop {
            // scroll-snap-align: center;
            display: flex;
            flex-direction: row;
            height: 100vh;


            .skills__desktop--left {
                background-color: colors.$yellow;
                width: 50vw;
                height: 100vh;

                h2 {
                    padding-top: 4vh;
                    padding-left: 2.5vw;
                }

                .desktop__left--arrow {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 90vh;
                    

                    img {
                        width: 30vw;
                        animation: arrowmove 10s normal;
                    }
                }

            }

            .skills__desktop--right {
                display: flex;
                flex-direction: column;
                background-color: colors.$background;
                width: 50vw;
                justify-content: center;

                .skills__desktop--hr {
                    color: colors.$yellow;
                    display: block;
                    width: 80vw;
                }

                .skills__frontend,
                .skills__backend {

                    margin: 6vh auto 0 auto;
                    width: 11vw;

                    h3 {
                        padding-bottom: 1.5vh;
                        font-size: 1.2em;
                        font-weight: 600;
                        padding-left: 0;
                    }
                    p {
                        font-family: fonts.$roboto;
                        font-size: 1.1em;
                        font-weight: 100;
                        padding-top: 0.3vh;

                    }
                    p:last-of-type {
                        padding-bottom: 2vh;
                    }
                }
            }
        }

        #section__projects {
            height: 90vh;
            width: 100%;


            .project__cards {
                width: 100%;
                height: 70vh;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                
                .project__cards--card {
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    height: auto;
                    min-width: 10vw;
                    padding-bottom: 2vh;
                    margin: 1vh 1vw;
                    border-radius: 10px;

                    &:nth-child(even){
                        margin-bottom: 10vh;
                    }


                    .cards__img {
                        height: 25vh;
                        width: 100%;
                        background-color: colors.$yellow;
                        border-radius: 10px 10px 0 0;

                    }

                    .cards__info {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 1em;

                        h4 {
                            font-family: fonts.$fahkwang;
                        }

                        .cards__arrowBtn {
                            width: 2vw;
                            cursor: pointer;
                        }
                    }

                    p {
                        padding-left: 1.3em;
                        font-size: 0.8em;
                    }
                }
            }
        }
        #section__about {
            height: 100vh;
    
            hr {
                width: 84vw;
                border: none;
                height: 0.1vh;
            }
            .about__flexcontainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 70vw;
                height: 70vh;
                margin: 0 auto;

                .about__img {
                    width: 20vw;
    
                }
        
                .about__infotext {
                    width: 28vw;
        
                    p {
                        font-size: 1em;
                    }
                }
            }
    
            .about__imgcontainer {
    
                img {
                    width: 50vw;
                    transform: rotate(225deg);
                    position: absolute;
                    left: 55vw;
                    top: -40vh;
                    z-index: -1;
                }
            }
        }
    }
    
}