@import url("https://fonts.googleapis.com/css2?family=Fahkwang:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F1F0EB;
  color: #524640;
  font-family: "Roboto", sans-serif;
  max-width: 100%;
}

.sidebar {
  display: none;
}

h1, h2, h3 {
  font-family: "Fahkwang", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

header {
  height: 45vh;
  overflow: hidden;
}
header .header__imgcontainer {
  position: relative;
}
header .header__imgcontainer img {
  width: 400px;
  transform: rotate(150deg);
  position: absolute;
  left: 20vw;
  top: -10vh;
}
header .header__flexcontainer {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
header .header__flexcontainer .header__menu--phone {
  width: 15vw;
  justify-content: end;
  font-size: 2.5em;
  margin: 3.5vh 5vw 0 0;
  cursor: pointer;
}
header .header__flexcontainer .header__introtext {
  margin: 5vh 0 0 8vw;
}
header .header__flexcontainer .header__introtext h1 {
  font-size: 1.8em;
  max-width: 8ch;
  padding-bottom: 1vh;
  line-height: 90%;
}
header .header__flexcontainer .header__introtext p {
  font-size: 1em;
  font-weight: 100;
}

main h2 {
  margin: 2.5vh 0 0 5vw;
}
main .section__skills {
  background-color: #FAC984;
  height: 60vh;
}
main .section__skills h2 {
  padding-top: 2.5vh;
}
main .section__skills .skills__frontend, main .section__skills .skills__backend {
  margin-top: 6vh;
  text-align: center;
}
main .section__skills .skills__frontend p, main .section__skills .skills__backend p {
  font-family: "Fahkwang", sans-serif;
}
main .section__skills .skills__frontend h3, main .section__skills .skills__backend h3 {
  padding-bottom: 1.5vh;
  font-size: 1em;
  font-weight: 600;
}
main .section__projects {
  height: 120vh;
}
main .section__projects .project__cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 7vh;
}
main .section__projects .project__cards .project__cards--card {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 30vh;
  min-width: 50vw;
  margin-bottom: 2vh;
  margin: 1vh 1vw;
}
main .section__projects .project__cards .project__cards--card .cards__img {
  height: 20vh;
  width: 100%;
  background-color: #FAC984;
}
main .section__projects .project__cards .project__cards--card .cards__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}
main .section__projects .project__cards .project__cards--card .cards__info h4 {
  font-family: "Fahkwang", sans-serif;
}
main .section__projects .project__cards .project__cards--card .cards__info .cards__arrowBtn {
  width: 6vw;
  cursor: pointer;
}
main .section__projects .project__cards .project__cards--card p {
  padding-left: 1.3em;
  font-size: 0.8em;
}
main .section__contact {
  height: 50vh;
}
main .section__contact hr {
  width: 89vw;
  margin: 0 auto;
  background-color: #524640;
}
main .section__contact .contact__img {
  margin: 0 auto;
  width: 10vw;
}

footer {
  background-color: #7B655A;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.6em;
}
footer p {
  font-family: "Fahkwang", sans-serif;
  color: #F1F0EB;
  font-weight: 600;
}
footer .footer__icons .footer__icons--icon {
  width: 7vw;
  padding-right: 0.5em;
}/*# sourceMappingURL=main.css.map */